body {
    background-color: #F9EBFF;
}

/*ribbon*/

#ribbon {
   overflow: hidden;
   background-color: #B79CC7;
}

#ribbon a {
    float: left;
    font-size: 16px;
    font-family: serif;
    color: #F9EBFF;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

.toplinks {
    border-right: 1px solid #F9EBFF;
}

#ribbon a:hover {
    background-color: #AC84C4;
}

#ribbon .toplinks:active {
    color: #B79CC7;
}
    
    /*heading/picture*/

#title {
    text-align: center;
    color: #B79CC7;
}
@media screen and (orientation: portrait) {
    #picture {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (orientation: landscape) {
    #picture {
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}

    /*Information*/

#info {
    padding: 5px 10px 5px;
    overflow: hidden;
    background-color: white;
    top: 0;
    right: 0;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: left;
}
.category {
    font-weight: bold;
}
.people {
    text-decoration: none;
    color: black;
    font-style: italic;
}
.people:hover {
    text-decoration: underline;
}
.people:active {
    font-weight: bold;
}